@font-face {
  font-family: 'LXGW WenKai';
  src: url('https://cdn.jsdelivr.net/gh/izypd/Euler@main/font/lxgw_wenkai/LXGWWenKai-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}